<div class="prank-card-container">
  <form class="prank-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <input type="hidden" [formControlName]="'id'" [value]="id" />

    <div class="editors">
      <textarea class="area" placeholder="HTML" matInput [formControlName]="'html'"></textarea>
      
      <textarea class="area" placeholder="CSS" matInput [formControlName]="'css'"></textarea>
      
      <app-chips class="chips" [chips]="['a', 'b', 'c']" [formControlName]="'url'"></app-chips>
    </div>

    <div class="preview-container">
      <div class="controls">
        <mat-slide-toggle class="control" [formControlName]="'active'">Active</mat-slide-toggle>
        <button type="submit" class="control -right" mat-button>Save</button>
      </div>
  
      <div class="preview"></div>
    </div>
  </form>
</div>
