<div class="prank-card-container">
  <form class="prank-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <input type="hidden" [formControlName]="'id'" [value]="id" />

    <div class="editors">
      <textarea class="area" placeholder="HTML" matInput [formControlName]="'html'"></textarea>
      
      <textarea class="area" placeholder="CSS" matInput [formControlName]="'css'"></textarea>
    </div>

    <div class="preview-container">
      <div class="controls">
        <mat-checkbox class="control" [formControlName]="'urlYoutube'">Youtube</mat-checkbox>
        <mat-checkbox class="control" [formControlName]="'urlFacebook'">Facebook</mat-checkbox>
        <mat-checkbox class="control" [formControlName]="'urlGoogle'">Google</mat-checkbox>
        <mat-checkbox class="control" [formControlName]="'urlWhatsApp'">WhatsApp</mat-checkbox>

        <mat-slide-toggle class="control -divisor" [formControlName]="'active'">Active</mat-slide-toggle>
        <button type="submit" class="control -right" mat-stroked-button color="warn">Save</button>
      </div>
  
      <div class="preview">
        <iframe class="iframe" #iframe></iframe>
      </div>
    </div>
  </form>
</div>
